<%= turbo_frame_tag dom_id(task) do %>
  <li>
    <%= turbo_frame_tag dom_id(task, :name) do %>
      <%= task.name %>
      <%= link_to "Edit", edit_task_path(task), data: { turbo_frame: dom_id(task, :name) } %>
    <% end %>

    <% if task.active_subtasks.any? %>
      <ul>
        <%= render partial: "tasks/task", collection: task.active_subtasks %>
      </ul>
    <% end %>
    <%= button_to "Destroy this task", task, method: :delete %>
  </li>
<% end %>
